{% extends "base.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% load bootstrap4 %}
{% load static %}
{% load filters_web %}

{% block content %}
    <div class="text-center bg-white">
        <h1 class="card-title bg-white align-content-center font-weight-bold text-capitalize">Adaptación al Cambio</h1>
        <div class="pl-4"> <b><span class="text-dark">Accidentado: </span></b>{{ accidente.empleado }} ({{ accidente.salario_accidentado|prepend_dollars }})</div>
        <div class="pl-4"> <b><span>Fecha accidente: </span></b>{{ accidente.fecha_accidente }} </div>
        <div class="pl-4"> <b><span>Estado: </span></b>{%  if accidente.fallecido %} FALLECIDO {% elif accidente.invalidez %} INVALIDEZ {% else %} LESIONADO {% endif %}</div>
        <a href="{% url 'detalle_accidente' accidente.id %}" class="btn btn-success  btn-sm">ir a Accidente</a>
    </div>
    <div id="accordion">
        <h3>Reemplazos</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Reemplazos</h4>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form method="post" class="form" id="form_reemplazo">
                            {% csrf_token %}
                            <table class="text-left p-2 m-2">
                                {{ f_reemplazo.as_table }}
                            </table>

                            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-save"></span> Guardar</button>
                        </form>
                    </div>

                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover table-sm" id="reemplazo_table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Empleado</th>
                                    <th>Tipo Reemplazo</th>
                                    <th>Días</th>
                                    <th>Salario</th>
                                    <th>Costo</th>
                                    <th class="all">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list_reemplazos %}
                                    <tr id="row_reemplazo_{{ item.id }}">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.nombre_reemplazo }}</td>
                                        <td>{{ item.tipo_reemplazo }}</td>
                                        <td>{{ item.dias }}</td>
                                        <td>{{ item.salario|prepend_dollars }}</td>
                                        <td>{{ item.costo|prepend_dollars }}</td>
                                        <td>
                                            <a onclick="delete_row( {{item.id}}, 'S')"
                                               class="btn btn-danger btn-circle" href="#">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3>Capacitaciones</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Capacitaciones</h4>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form method="post" class="form" id="form_capacitador">
                            {% csrf_token %}
                            <table class="text-left p-2 m-2">
                                {{ f_capacitador.as_table }}
                            </table>

                            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-save"></span> Guardar</button>
                        </form>
                    </div>

                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover table-sm" id="capacitador_table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Empleado</th>
                                    <th>Días</th>
                                    <th>Salario</th>
                                    <th>Costo</th>
                                    <th class="all">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list_capacitadores %}
                                    <tr id="row_capacitador_{{ item.id }}">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.capacitador.nombre }}</td>
                                        <td>{{ item.dias }}</td>
                                        <td>{{ item.salario|prepend_dollars }}</td>
                                        <td>{{ item.costo|prepend_dollars }}</td>
                                        <td>
                                            <a onclick="delete_row( {{item.id}}, 'C')"
                                               class="btn btn-danger btn-circle" href="#">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3>Costos adicionales</h3>
        <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form method="post" class="form-inline" id="form_adicionales">
                            {% csrf_token %}
                            {{ f_costos_adicionales.as_p }}

                            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-save"></span> Guardar</button>
                        </form>
                    </div>

                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover table-sm" id="adicionales_table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Actividad</th>
                                    <th>Valor</th>
                                    <th class="all">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list_costos %}
                                    <tr id="row_adicional_{{ item.id }}">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.actividad }}</td>
                                        <td>{{ item.valor|prepend_dollars }}</td>
                                        <td>
                                            <a onclick="delete_row( {{item.id}}, 'A')"
                                               class="btn btn-danger btn-circle" href="#">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}

{% block javascript%}
<script>


    $( function() {
        $( "#accordion" ).accordion();
    } );

    $ ("#form_reemplazo"). submit (function (e) {
        // preventing from page reload and default actions
        e.preventDefault ();
        // serialize the data for sending the form data.
        var serializedData = $ (this) .serialize ();
        // make POST ajax call
        $ .ajax ({
            type: 'POST',
            url: "{% url 'ajax_reemplazo' accidente.id %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // first\. clear the form.
                $ ("#form_reemplazo"). trigger ('reset');
                // 2\. focus to nickname input
                //$ ("#id_actividad"). focus ();

                // display the newly friend to table.
                var instance = JSON.parse (response ["instance"]);
                var reemplazo =instance [1] ["fields"];
                console.log(instance)
                var fields = instance [0] ["fields"];


                var formatter = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    // These options are needed to round to whole numbers if that's what you want.
                    // minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                    // maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
                    });

                var valor = formatter.format(fields["valor"])
                var salario = formatter.format(fields["salario"])
                var costo = formatter.format(fields["costo"])
                $ ("#reemplazo_table tbody"). prepend (
                    `<tr id="row_reemplazo_${instance[0]['pk']}">
                    <td>${instance[0]['pk']}</td>
                    <td> ${reemplazo["nombre"] || ""} </td>
                    <td> ${fields["tipo_reemplazo"] || ""} </td>
                    <td> ${fields["dias"] || ""} </td>
                    <td> ${salario || ""} </td>
                    <td> ${costo || ""} </td>
                    <td>
                        <a onclick="delete_row( ${instance[0]['pk']}, 'S')" class="btn btn-danger btn-circle" href="#">
                           <span class="fa fa-remove"></span>
                        </a>
                    </td>
                    </tr> `
                )
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response["responseJSON"] ["error"])
                alert (response["responseJSON"] ["error"]);
            }
        })
    })

    $ ("#form_capacitador"). submit (function (e) {
        // preventing from page reload and default actions
        e.preventDefault ();
        // serialize the data for sending the form data.
        var serializedData = $ (this) .serialize ();
        // make POST ajax call
        $ .ajax ({
            type: 'POST',
            url: "{% url 'ajax_capacitador' accidente.id %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // first\. clear the form.
                $ ("#form_capacitador"). trigger ('reset');
                // 2\. focus to nickname input
                //$ ("#id_actividad"). focus ();

                // display the newly friend to table.
                var instance = JSON.parse (response ["instance"]);
                var capacitador =instance [1] ["fields"];
                console.log(instance)
                var fields = instance [0] ["fields"];

                var formatter = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    // These options are needed to round to whole numbers if that's what you want.
                    // minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                    // maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
                    });
                var salario = formatter.format(fields["salario"])
                var costo = formatter.format(fields["costo"])

                $ ("#capacitador_table tbody"). prepend (
                    `<tr id="row_capacitador_${instance[0]['pk'] }">
                    <td>${instance[0]['pk']}</td>
                    <td> ${capacitador["nombre"] || ""} </td>
                    <td> ${fields["dias"] || ""} </td>
                    <td> ${salario || ""} </td>
                    <td> ${costo || ""} </td>
                    <td>
                        <a onclick="delete_row( ${instance[0]['pk']}, 'C')" class="btn btn-danger btn-circle" href="#">
                           <span class="fa fa-remove"></span>
                        </a>
                    </td>
                    </tr> `
                )
            },
            error: function (response) {
                // alert the error if any error occured
                alert (response["responseJSON"] ["error"]);
            }
        })
    })

    $ ("#form_adicionales"). submit (function (e) {
        // preventing from page reload and default actions
        e.preventDefault ();
        // serialize the data for sending the form data.
        var serializedData = $ (this) .serialize ();
        // make POST ajax call
        $ .ajax ({
            type: 'POST',
            url: "{% url 'ajax_adicionales' accidente.id %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // first\. clear the form.
                $ ("#form_adicionales"). trigger ('reset');
                // 2\. focus to nickname input
                $ ("#id_actividad"). focus ();

                // display the newly friend to table.
                var instance = JSON.parse (response ["instance"]);
                console.log(instance)
                var fields = instance [0] ["fields"];

                var formatter = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    // These options are needed to round to whole numbers if that's what you want.
                    // minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                    // maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
                    });

                var valor = formatter.format(fields["valor"])
                $ ("#adicionales_table tbody"). prepend (
                    `<tr id="row_adicional_${instance[0]['pk']}">
                    <td>${instance[0]['pk']}</td>
                    <td> ${fields["actividad"] || ""} </td>
                    <td> ${valor || ""} </td>
                    <td>
                        <a onclick="delete_row( ${instance[0]['pk']}, 'A')" class="btn btn-danger btn-circle" href="#">
                           <span class="fa fa-remove"></span>
                        </a>
                    </td>
                    </tr> `
                )
            },
            error: function (response) {
                // alert the error if any error occured
                alert (response["responseJSON"] ["error"]["valor"]);
            }
        })
    })

    $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es'
    });
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $('select[name="reemplazo"]').select2({
        allowClear: true,
        language: 'es',
        ajax: {

            url: "{% url 'busqueda_persona_view' %}",
            delay: 250,
              data: function(params){
                var queryParameters = {
                    term: params.term,
                    action: 'autocomplete'
                }
                return queryParameters;
              },
              processResults: function(data){
                return {
                    results: data
                };
              },
              type: 'POST',

            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        },
        placeholder: 'Ingrese el nombre del empleado',
        minimumInputLength: 3,
    });

    $('select[name="capacitador"]').select2({
        allowClear: true,
        language: 'es',
        ajax: {

            url: "{% url 'busqueda_persona_view' %}",
            delay: 250,
              data: function(params){
                var queryParameters = {
                    term: params.term,
                    action: 'autocomplete'
                }
                return queryParameters;
              },
              processResults: function(data){
                return {
                    results: data
                };
              },
              type: 'POST',

            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        },
        placeholder: 'Ingrese el nombre del empleado',
        minimumInputLength: 3,
    });


    function delete_row(id, model){
        url = "{% url 'ajax_remove_row' accidente.id %}"
        $ .ajax ({
            type: 'POST',
            url: url,
            data: { id: id, tipo: model},
            success: function (response) {
                if(model == 'S')
                    $("#row_reemplazo_" + id).remove();

                if(model == 'C')
                    $("#row_capacitador_" + id).remove();

                if(model == 'A')
                    $("#row_adicional_" + id).remove();
            },
            error: function (response) {
                // alert the error if any error occured
                alert (response["responseJSON"] ["error"]["valor"]);
            }
        })
    }

    $("#id_tipo_reemplazo").on('change', function() {
        if($(this).find(":selected").val() == "EXTERNO"){
            $("#id_salario").attr("disabled",false);
            $("#id_nombre_reemplazo").attr("disabled",false);
            $("#id_reemplazo").val("");
            $("#id_reemplazo").attr("disabled",true);
        }else{
            $("#id_salario").val("");
            $("#id_salario").attr("disabled",true);
            $("#id_nombre_reemplazo").val("");
            $("#id_nombre_reemplazo").attr("disabled",true);
            $("#id_reemplazo").attr("disabled",false);
        }
    });
</script>
{% endblock javascript%}