{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container p-5 bg-white">
        <div class="float-none">
            <h1>Registrar accidente</h1><hr/>
        </div>
        <form name="accidente" method="post">
            {% csrf_token %}
            <table class="text-left p-2 m-2">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Aceptar" class="btn btn-primary">
            <a href="{% url "accidentes" %}" class="btn btn-danger">Cancelar</a>
        </form>

    </div>

    <script>

        $( document ).ready(function() {
            accidenteMortal();
        });


        function accidenteMortal() {
            if ($("#id_fallecido").prop("checked")) {
                alert("Accidente mortal!")
                document.getElementById('id_incapacidad').disabled = true;
                document.getElementById('id_invalidez').disabled = true;
                document.getElementById('id_dias_incapacidad').readOnly = true;
                document.getElementById('id_grado_invalidez').readOnly = true;
                document.getElementById('id_dias_incapacidad').value = "";
                document.getElementById('id_grado_invalidez').value = "";
            } else {
                document.getElementById('id_incapacidad').disabled = false;
                document.getElementById('id_invalidez').disabled = false;
                document.getElementById('id_dias_incapacidad').readOnly = false;
                document.getElementById('id_grado_invalidez').readOnly = false;
                document.getElementById('id_dias_incapacidad').value = "";
                document.getElementById('id_grado_invalidez').value = "";
            }
        }


        $('.select2').select2({
            theme: 'bootstrap4',
            language: 'es'
        });
        $.ajaxSetup({
	        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $('select[name="empleado"]').select2({
          allowClear: true,
            language: 'es',
            ajax: {

            url: "{% url 'busqueda_persona_view' %}",
            delay: 250,
              data: function(params){
                var queryParameters = {
                    term: params.term,
                    action: 'autocomplete'
                }
                return queryParameters;
              },
              processResults: function(data){
                return {
                    results: data
                };
              },
              type: 'POST',

            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
          },
          placeholder: 'Ingrese el nombre del empleado',
            minimumInputLength: 3,
        });
    </script>


{% endblock %}