{% extends "base.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% load bootstrap4 %}
{% load static %}
{% load filters_web %}

{% block content %}
    <div class="text-center bg-white">
        <h1 class="card-title bg-white align-content-center font-weight-bold text-capitalize">Apropiaciones de Nómina</h1>
        <div class="pl-4"> <b><span class="text-dark">Accidentado: </span></b>{{ accidente.empleado }} </div>
        <div class="pl-4"> <b><span>Fecha accidente: </span></b>{{ accidente.fecha_accidente }} </div>
        <div class="pl-4"> <b><span>Estado: </span></b>{%  if accidente.fallecido %} FALLECIDO {% elif accidente.invalidez %} INVALIDEZ {% else %} LESIONADO {% endif %}</div>
        <a href="{% url 'detalle_accidente' accidente.id %}" class="btn btn-success  btn-sm">ir a Accidente</a>
    </div>
    <div id="accordion">
        <h3>Apropiaciones de Nómina</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Acompañamientos en el accidente</h4>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form method="post" class="form" id="form_acompanamiento">
                            {% csrf_token %}
                            <table class="text-left p-2 m-2">
                                {{ f_tiempos_acompanamiento.as_table }}
                            </table>

                            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-save"></span> Guardar</button>
                        </form>
                    </div>

                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover table-sm" id="acompanamientos_table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Empleado</th>
                                    <th>Tipo</th>
                                    <th>Tiempo</th>
                                    <th>Factor</th>
                                    <th>Salario</th>
                                    <th>Valor Diario</th>
                                    <th>Valor Factor</th>
                                    <th>Total</th>
                                    <th class="all">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list_acompanamientos %}
                                    <tr id="row_apropiacion_{{ item.id }}">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.empleado }}</td>
                                        <td>{{ item.tipo_acompanamiento }}</td>
                                        <td>{{ item.tiempo }}</td>
                                        <td>{{ item.factor }}</td>
                                        <td>{{ item.salario|prepend_dollars }}</td>
                                        <td>{{ item.valor_diario|prepend_dollars }}</td>
                                        <td>{{ item.valor_factor }}</td>
                                        <td>{{ item.total|prepend_dollars }}</td>
                                        <td>
                                            <a onclick="delete_row( {{item.id}})"
                                               class="btn btn-danger btn-circle" href="#">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3>Calculo de apropiaciones</h3>
        <div class="card">
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover table-sm font-size: small" id="acompanamientos_table">
                    <thead>
                        <tr>
                            <th>-</th>
                            {% for item in tipos_acompanamiento %}
                                <th>{{ item.descripcion }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for fila in matrix %}
                        <tr>

                            {% for columna in fila %}

                                {% if forloop.first %}
                                    <td width="25%">{{ columna }}</td>
                                {% else %}
                                    <td width="15%" class="text-right"><span id="f{{ forloop.parentloop.counter0 }}_c{{ forloop.counter0 }}">{{ columna|prepend_dollars }}</span></td>
                                {% endif %}

                            {% endfor %}
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock content%}

{% block javascript%}
<script>


    $( function() {
        $( "#accordion" ).accordion();
    } );



    $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es'
    });
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $('select[name="empleado"]').select2({
        allowClear: true,
        language: 'es',
        ajax: {

            url: "{% url 'busqueda_persona_view' %}",
            delay: 250,
              data: function(params){
                var queryParameters = {
                    term: params.term,
                    action: 'autocomplete'
                }
                return queryParameters;
              },
              processResults: function(data){
                return {
                    results: data
                };
              },
              type: 'POST',

            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        },
        placeholder: 'Ingrese el nombre del empleado',
        minimumInputLength: 3,
    });

    function delete_row(id){
        url = "{% url 'ajax_remove_apropiacion' accidente.id %}"
        $ .ajax ({
            type: 'POST',
            url: url,
            data: { id: id},
            success: function (response) {
                $("#row_apropiacion_" + id).remove();
                var instance = JSON.parse (response ["instance"]);
                console.log(instance)
                for(indice in instance){
                    for(elem in instance[indice]) {
                        if (elem > 0) {
                            id_html = "f" + indice + "_c" + elem;
                            $("#"+id_html).text(instance[indice][elem]);
                        }
                    }
                }
            },
            error: function (response) {
                // alert the error if any error occured
                alert (response["responseJSON"] ["error"]["valor"]);
            }
        })
    }
</script>
{% endblock javascript%}