{% extends "base.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% load bootstrap4 %}
{% load static %}
{% load filters_web %}

{% block content %}
    <div class="text-center bg-white font-weight-bold">
        <h1 class="card-title bg-white align-content-center font-weight-bold text-capitalize">Apropiaciones de Nómina</h1>
    </div>
    <div id="accordion">
        <h3>Apropiaciones de Nómina</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Acompañamientos en el accidente</h4>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form method="post" class="form" id="form_acompanamiento">
                            {% csrf_token %}
                            <table class="text-left p-2 m-2">
                                {{ f_tiempos_acompanamiento.as_table }}
                            </table>

                            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-save"></span> Guardar</button>
                        </form>
                    </div>

                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover table-sm" id="acompanamientos_table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Empleado</th>
                                    <th>Tipo</th>
                                    <th>Tiempo</th>
                                    <th>Factor</th>
                                    <th>Salario</th>
                                    <th class="all">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list_acompanamientos %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.empleado }}</td>
                                        <td>{{ item.tipo_acompanamiento }}</td>
                                        <td>{{ item.tiempo }}</td>
                                        <td>{{ item.factor }}</td>
                                        <td>{{ item.salario|prepend_dollars }}</td>
                                        <td>
                                            <a onclick="return abrir_modal ('{% url 'costos_edit' item.id %}')"
                                               class="btn btn-danger btn-circle" href="#">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3>Daño material a titulo de daño emergente</h3>
        <div class="card">
        </div>
    </div>
{% endblock content%}

{% block javascript%}
<script>


    $( function() {
        $( "#accordion" ).accordion();
    } );



    $ ("#form_acompanamiento"). submit (function (e) {
        // preventing from page reload and default actions
        e.preventDefault ();
        // serialize the data for sending the form data.
        var serializedData = $ (this) .serialize ();
        // make POST ajax call
        $ .ajax ({
            type: 'POST',
            url: "{% url 'ajax_acompanamiento' accidente.id %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // first\. clear the form.
                $ ("#form_acompanamiento"). trigger ('reset');
                // 2\. focus to nickname input
                //$ ("#id_descripcion"). focus ();

                // display the newly friend to table.
                var instance = JSON.parse (response ["instance"]);
                console.log(instance)
                var fields = instance [0] ["fields"];

                var formatter = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    // These options are needed to round to whole numbers if that's what you want.
                    // minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                    // maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
                    });

                var salario = formatter.format(fields["salario"])
                $ ("#acompanamientos_table tbody"). prepend (
                    `<tr>
                    <td>${instance[0]['pk']}</td>
                    <td> ${fields["empleado"] || ""} </td>
                    <td> ${fields["tipo_acompanamiento"] || ""} </td>
                    <td> ${fields["tiempo"] || ""} </td>
                    <td> ${fields["factor"] || ""} </td>


                    <td> ${salario || ""} </td>
                    <td>
                        <a onclick=" ${instance[0]['pk']})" class="btn btn-danger btn-circle" href="#">
                           <span class="fa fa-remove"></span>
                        </a>
                    </td>
                    </tr> `
                )
            },
            error: function (response) {
                // alert the error if any error occured
                alert (response["responseJSON"] ["error"]["valor"]);
            }
        })
    })

    $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es'
    });
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $('select[name="empleado"]').select2({
        allowClear: true,
        language: 'es',
        ajax: {

            url: "{% url 'busqueda_persona_view' %}",
            delay: 250,
              data: function(params){
                var queryParameters = {
                    term: params.term,
                    action: 'autocomplete'
                }
                return queryParameters;
              },
              processResults: function(data){
                return {
                    results: data
                };
              },
              type: 'POST',

            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        },
        placeholder: 'Ingrese el nombre del empleado',
        minimumInputLength: 3,
    });
</script>
{% endblock javascript%}