{% extends "base.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% load bootstrap4 %}
{% load static %}
{% load filters_web %}

{% block estilos %}
    <style>
        table, td, th {
          border: 1px solid #ddd;
          text-align: left;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 10px;
        }

        th {
            color: white;
        }

        #encabezado {
            display: table-header-group;
            background-color: lightyellow;
        }
    </style>
{% endblock estilos %}

{% block content %}
    <div class="text-center bg-white">
        <h1 class="card-title bg-white align-content-center font-weight-bold text-capitalize">Balance del accidente</h1>
        <div class="pl-4"> <b><span class="text-dark">Accidentado: </span></b>{{ accidente.empleado }} </div>
        <div class="pl-4"> <b><span>Fecha accidente: </span></b>{{ accidente.fecha_accidente }} </div>
        <div class="pl-4"> <b><span>Estado: </span></b>{%  if accidente.fallecido %} FALLECIDO {% elif accidente.invalidez %} INVALIDEZ {% else %} LESIONADO {% endif %}</div>
        <a href="{% url 'detalle_accidente' accidente.id %}" class="btn btn-success  btn-sm">ir a Accidente</a>
    </div>
    <div id="accordion">
        <h3>Datos del Accidente</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Método Elementos de Producción</h4>
            </div>
            <div class="card-body">

                <hr/>
                <table class="table-responsive font-size: small table-striped table-hover table-sm">
                    <tr>
                        <td colspan="4"></td>
                        <td width="20%" style="text-align:center">PESOS</td>
                        <td width="20%" style="text-align:center">TIEMPO</td>
                    </tr>
                    <tr>
                        <td width="10%">OTROS</td>
                        <td width="10%">ASEGURABLE</td>
                        <td width="10%">DIRECTO</td>
                        <td width="15%">COSTOS INSUMOS MÉDICOS</td>
                        <td style="text-align:right">{{balance.otros.costos_insumos_medicos|prepend_dollars}}</td>
                        <td rowspan="26"></td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>ASEGURABLE</td>
                        <td>DIRECTO</td>
                        <td>COSTO TRANSPORTE</td>
                        <td style="text-align:right">{{balance.otros.costo_transporte|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>ASEGURABLE</td>
                        <td>DIRECTO</td>
                        <td>OTROS COSTOS</td>
                        <td style="text-align:right">{{balance.otros.otros_costos|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td>MAQUINARIA/INSTALACIÓN DE EQUIPOS</td>
                        <td>ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LISTA MAQUINARIA REQUERIDA</td>
                        <td style="text-align:right">{{balance.maquinaria.lista_maquinaria|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>MATERIAL</td>
                        <td>ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LISTA MATERIA PRIMA</td>
                        <td style="text-align:right">{{balance.material.lista_materia_prima|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LISTA MANO DE OBRA REQUERIDA</td>
                        <td style="text-align:right">{{balance.mano_obra.lista_mano_obra_requerida|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white"  style="text-align:right">{{balance.sub_secc_1|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2" class="bg-primary text-center col-sm text-white">LUCRO</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>DAÑO MATERIAL A TITULO DE EMERGENTE</td>
                        <td style="text-align:right">{{balance.otros.dano_material|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{balance.sub_lucro|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2" class="bg-primary text-center col-sm text-white">DAÑO MATERIAL FUTURO</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LUCRO CESANTE</td>
                        <td style="text-align:right">{{balance.otros.lucro_cesante|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LUCRO CESANTE FUTURO</td>
                        <td style="text-align:right">{{balance.otros.lucro_cesante_futuro|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white text-align:right">{{balance.dano_material|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2" class="bg-primary text-center col-sm text-white">DAÑO MORAL</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>NIVEL 1</td>
                        <td style="text-align:right">{{accidente_valor_moral_n1|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>NIVEL 2</td>
                        <td style="text-align:right">{{accidente_valor_moral_n2|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>NIVEL 3</td>
                        <td style="text-align:right">{{accidente_valor_moral_n3|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>NIVEL 4</td>
                        <td style="text-align:right">{{accidente_valor_moral_n4|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>NIVEL 5</td>
                        <td style="text-align:right">{{accidente_valor_moral_n5|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_niveles|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" class="bg-primary text-center col-sm text-white">ADAPTACIÓN AL CAMBIO</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>REEMPLAZOS</td>
                        <td style="text-align:right">{{costo_reemplazo|prepend_dollars}}</td>
                        <td style="text-align:right">{{tiempo_reemplazos}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>CAPACITACIONES</td>
                        <td style="text-align:right">{{costo_capacitaciones|prepend_dollars}}</td>
                        <td style="text-align:right">{{tiempo_capacitaciones}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>COSTOS ADICIONALES</td>
                        <td style="text-align:right">{{costo_adicionales|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_adaptacion_cambio|prepend_dollars}}</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_tiempo_adaptacion}}</td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" class="bg-primary text-center col-sm text-white">APROPIACIONES NOMINA</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>SE ENCONTRABA CON EL ACCIDENTADO AL MOMENTO DEL ACCIDENTE</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>AYUDO EN EL RESCATE O ESTABILIZACIÓN DEL ACCIDENTADO</td>
                        <td style="text-align:right">{{valor_9|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_5}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>SE ENCONTRABA EN EL ÁREA DEL ACCIDENTE</td>
                        <td style="text-align:right">{{valor_10|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_6}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>AYUDA EN LA INVESTIGACIÓN DEL ACCIDENTE</td>
                        <td style="text-align:right">{{valor_11|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_7}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>AYUDA A LA IMPLEMENTACIÓN DE ACCIONES CORRECTIVAS</td>
                        <td style="text-align:right">{{valor_12|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_8}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_adaptacion_cambio|prepend_dollars}}</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_tiempo_adaptacion}}</td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" class="bg-primary text-center col-sm text-white">CALCULO APROPIACIONES</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>PARAFISCALES</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>PRESTACIONES SOCIALES</td>
                        <td style="text-align:right">{{valor_9|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_5}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="bg-secondary text-white">SUBTOTAL</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_adaptacion_cambio|prepend_dollars}}</td>
                        <td class="bg-secondary text-white" style="text-align:right">{{subtotal_tiempo_adaptacion}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="13"></td>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td>TOTAL DIRECTO</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>

                        <td>TOTAL INDIRECTO</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td>TOTAL ASEGURABLE</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td>TOTAL NO ASEGURABLE</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td>TOTAL MANO DE OBRA</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td>TOTAL MAQUINARIA</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td>TOTAL MATERIAL/EQUIPOS</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td>TOTAL OTROS</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="bg-primary col-sm text-white">TOTAL</td>
                        <td style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        <td style="text-align:right">{{valor_1}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content%}

{% block javascript%}
<script>

    $( function() {
        $( "#accordion" ).accordion();
    } );

</script>
{% endblock javascript%}
