{% extends "base.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% load bootstrap4 %}
{% load static %}
{% load filters_web %}

{% block estilos %}
    <style>
        table, td, th {
          border: 1px solid #ddd;
          text-align: left;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 10px;
        }

        th {
            color: white;
        }

        #encabezado {
            display: table-header-group;
            background-color: lightyellow;
        }
    </style>
{% endblock estilos %}

{% block content %}
    <div class="text-center bg-white">
        <h1 class="card-title bg-white align-content-center font-weight-bold text-capitalize">Balance del accidente</h1>
        <div class="pl-4"> <b><span class="text-dark">Accidentado: </span></b>{{ accidente.empleado }} </div>
        <div class="pl-4"> <b><span>Fecha accidente: </span></b>{{ accidente.fecha_accidente }} </div>
        <div class="pl-4"> <b><span>Estado: </span></b>{%  if accidente.fallecido %} FALLECIDO {% elif accidente.invalidez %} INVALIDEZ {% else %} LESIONADO {% endif %}</div>
        <a href="{% url 'detalle_accidente' accidente.id %}" class="btn btn-success  btn-sm">ir a Accidente</a>
    </div>
    <div id="accordion">
        <h3>Datos del Accidente</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Método Elementos de Producción</h4>
            </div>
            <div class="card-body">
                <table  class="border-dark table-responsive font-size: small  table-striped table-hover table-sm">
                    <thead class="bg-primary text-center col-sm">
                        <th colspan="2"></th>
                        <th class="text-center">Mano de obra</th>
                        <th class="text-center">Maquinaria y Herramientas</th>
                        <th class="text-center">Materia Prima</th>
                        <th class="text-center">Instalaciones y equipos</th>
                        <th class="text-center">Tiempos</th>
                    </thead>
                    <tbdody>
                        <tr>
                            <td width="20%" class="bg-white">Tiempos de accidente</td>
                            <td  width="30%">Personal que se encontraba en la actividad con el accidentado al momento del accidente</td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                            <td width="10%"  style="text-align:right">{{valor_1}}</td>
                        </tr>
                        <tr>
                            <td>Apropiaciones de nomina</td>
                            <td>Personal que se encontraba en la actividad con el accidentado al momento del accidente</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_2|prepend_dollars}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="bg-white"></td>
                            <td>Costo atención prímaria accidentado</td>
                            <td  style="text-align:right">{{subtotal_costos|prepend_dollars}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Costo invalidez o fallecimiento</td>
                            <td  style="text-align:right">{{ lucro_dano_emergente |prepend_dollars}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="4" class="bg-white">Tiempos de accidente</td>
                            <td>Personal que ayudó en el rescate o estabilización del accidentado</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_5}}</td>
                        </tr>
                        <tr>
                            <td>Personal que se encontraba en el área del accidente</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_6}}</td>
                        </tr>
                        <tr>
                            <td>Personal que ayuda a la investigación del accidente</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_7}}</td>
                        </tr>
                        <tr>
                            <td>Personal que ayuda a la implementación de acciones de corrección</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_8}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4" class="bg-white">Apropiaciones de nómina</td>
                            <td>Personal que ayudó en el rescate o estabilización del accidentado</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_9|prepend_dollars}}</td>
                        </tr>
                        <tr>
                            <td>Personal que se encontraba en el área del accidente</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_10|prepend_dollars}}</td>
                        </tr>
                        <tr>
                            <td>Personal que ayuda a la investigación del accidente</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_11|prepend_dollars}}</td>
                        </tr>
                        <tr>
                            <td>Personal que ayuda a la implementación de acciones de corrección</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_12|prepend_dollars}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4" class="bg-white"></td>
                            <td>Adaptación al cambio</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_13|prepend_dollars}}</td>
                        </tr>
                        <tr>
                            <td>Maquinas, vehiculos y equipos</td>
                            <td></td>
                            <td  style="text-align:right">{{valor_14|prepend_dollars}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Materia prima</td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_15|prepend_dollars}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Instalaciones y equipos</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  style="text-align:right">{{valor_16|prepend_dollars}}</td>
                            <td></td>
                        </tr>
                    </tbdody>
                </table>
                <hr/>
                <table class="font-size: small">
                    <tr>
                        <td colspan="4"></td>
                        <td>PESOS</td>
                        <td>TIEMPO</td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>ASEGURABLE</td>
                        <td>DIRECTO</td>
                        <td>COSTOS INSUMOS MÉDICOS</td>
                        <td>{{costo_insumo_medico|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>ASEGURABLE</td>
                        <td>DIRECTO</td>
                        <td>COSTO TRANSPORTE</td>
                        <td>{{costo_transporte|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>ASEGURABLE</td>
                        <td>DIRECTO</td>
                        <td>OTROS COSTOS</td>
                        <td>{{costo_otros|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td>MAQUINARIA/INSTALACIÓN DE EQUIPOS</td>
                        <td>ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LISTA MAQUINARIA REQUERIDA</td>
                        <td>{{costo_maquinaria|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MATERIAL</td>
                        <td>ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LISTA MATERIA PRIMA</td>
                        <td>{{costo_materia_prima|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LISTA MANO DE OBRA REQUERIDA</td>
                        <td>{{costo_mano_obra|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td>SUBTOTAL</td>
                        <td>{{subtotal_costos|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">LUCRO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>DAÑO MATERIAL A TITULO DE EMERGENTE</td>
                        <td>{{lucro_dano_emergente|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td>SUBTOTAL</td>
                        <td>{{lucro_dano_emergente|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">DAÑO MATERIAL FUTURO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LUCRO CESANTE</td>
                        <td>{{lucro_cesante|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OTROS</td>
                        <td>NO ASEGURABLE</td>
                        <td>INDIRECTO</td>
                        <td>LUCRO CESANTE FUTURO</td>
                        <td>{{lucro_cesante_futuro|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td>SUBTOTAL</td>
                        <td>{{subtotal_dano_material_futuro|prepend_dollars}}</td>
                        <td></td>
                    </tr>
                </table>
                <table class="font-size: small">
                    <tr>
                        <td rowspan="19" class="bg-secondary text-white">HENRICH</td>
                        <td rowspan="2" class="bg-info">DIRECTOS</td>
                        <td colspan="2">ATENCION MEDICA</td>
                        <td width="15%" class="text-right"></td>
                        <td rowspan="2" class="bg-info">ASEGURABLES</td>
                        <td rowspan="19" class="bg-primary text-white">SIMMONDS</td>
                    </tr>
                    <tr>
                        <td colspan="2">PRESTACIONES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td rowspan="16" class="bg-warning">INDIRECTOS</td>
                        <td>TIEMPOS ACCIDENTE</td>
                        <td>PERSONAL QUE SE ENCONTRABA EN LA ACTIVIDAD CON EL ACCIDENTADO AL MOMENTO DEL ACCIDENTE</td>
                        <td class="text-right">{{valor_1}}</td>
                        <td rowspan="16" class="bg-warning">NO ASEGURADOS</td>
                    </tr>
                    <tr>
                        <td>APROPIACIONES</td>
                        <td>PERSONAL QUE SE ENCONTRABA EN LA ACTIVIDAD CON EL ACCIDENTADO AL MOMENTO DEL ACCIDENTE</td>
                        <td class="text-right">{{valor_2 | prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">COSTO ATENCION PRIMARIA ACCIDENTADO</td>
                        <td class="text-right">{{subtotal_costos|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">COSTOS INVALIDEZ O FALLECIMIENTO</td>
                        <td class="text-right">{{lucro_dano_emergente|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td rowspan="4">TIEMPOS DE ACCIDENTE</td>
                        <td>PERSONAL QUE AYUDO EN EL RESCATE O ESTABILIZACION DEL ACCIDENTADO</td>
                        <td class="text-right">{{valor_5}}</td>
                    </tr>
                    <tr>
                        <td>PERSONAL QUE SE ENCONTRABA EN EL AREA DEL ACCIDENTE</td>
                        <td class="text-right">{{valor_6}}</td>
                    </tr>
                    <tr>
                        <td>PERSONAL QUE AYUDA A LA INVESTIGACION DEL ACCIDENTE</td>
                        <td class="text-right">{{valor_7}}</td>
                    </tr>
                    <tr>
                        <td>PERSONAL QUE AYUDA A LA IMPLEMENTACION DE ACCIONES DE CORRECCION</td>
                        <td class="text-right">{{valor_8}}</td>
                    </tr>
                    <tr>
                        <td rowspan="4">APROPIACIONES DE NÓMINA</td>
                        <td>PERSONAL QUE AYUDO EN EL RESCATE O ESTABILIZACION DEL ACCIDENTADO</td>
                        <td class="text-right">{{valor_9|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>PERSONAL QUE SE ENCONTRABA EN EL AREA DEL ACCIDENTE</td>
                        <td class="text-right">{{valor_10|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>PERSONAL QUE AYUDA A LA INVESTIGACION DEL ACCIDENTE</td>
                        <td class="text-right">{{valor_11|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td>PERSONAL QUE AYUDA A LA IMPLEMENTACION DE ACCIONES DE CORRECCION</td>
                        <td class="text-right">{{valor_12|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">ADAPTACIÓN AL CAMBIO</td>
                        <td class="text-right">{{valor_13|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">MAQUINAS, VEHICULOS Y EQUIPOS</td>
                        <td class="text-right">{{valor_14|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">MATERIA PRIMA</td>
                        <td class="text-right">{{valor_15|prepend_dollars}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">INSTALCIONES Y EQUIPOS</td>
                        <td class="text-right">{{valor_16|prepend_dollars}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content%}

{% block javascript%}
<script>

    $( function() {
        $( "#accordion" ).accordion();
    } );

</script>
{% endblock javascript%}
