{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container p-5 bg-white">
        <div class="float-none">
            <h1>Registrar ausentismo</h1>
        </div>
        <span id="message_div"></span>
        <form id="form_ausentismo" method="post">
            {% csrf_token %}
            <table class="text-left p-2 m-2">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-save"></span> Guardar</button>
            <a href="{% url "ausentismo" %}" class="btn btn-danger mb-2"><span class="fa fa-refresh"></span> Cancelar</a>
        </form>

    </div>

    <script>

        $('[name="hora_inicial"]').on('dp.change', function(e){
            var formatedValue = e.date.format(e.date._f);
            calculaTiempo()
        })

        $('[name="hora_final"]').on('dp.change', function(e){
            var formatedValue = e.date.format(e.date._f);
            calculaTiempo()
        })

        function calculaTiempo(){

            var horai = document.forms["ausentismo"].elements['hora_inicial'].value;
            var horaf = document.forms["ausentismo"].elements['hora_final'].value;

            if(horai.includes(":") && horaf.includes(":")) {
                const horaini = horai.split(":");
                const horafin = horaf.split(":");

                var t1 = new Date();
                var t2 = new Date();

                t1.setHours(horaini[0], horaini[1]);
                t2.setHours(horafin[0], horafin[1]);

                if(t1.getTime()>t2.getTime()) {
                    alert("La fecha final debe ser posterior a la inicial");
                    return null;
                }

                t1.setHours(t2.getHours() - t1.getHours(), t2.getMinutes() - t1.getMinutes());
                document.forms["ausentismo"].elements['tiempo_ausentismo'].value = (t1.getHours() < 10? "0" + t1.getHours(): + t1.getHours()) + ":" + (t1.getMinutes()<10? "0"+t1.getMinutes() : t1.getMinutes());

            }

        }


        $('.select2').select2({
            theme: 'bootstrap4',
            language: 'es'
        });
        $.ajaxSetup({
	        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $('select[name="empleado"]').select2({
          allowClear: true,
            language: 'es',
            ajax: {

            url: "{% url 'busqueda_persona_view' %}",
            delay: 250,
              data: function(params){
                var queryParameters = {
                    term: params.term,
                    action: 'autocomplete'
                }
                return queryParameters;
              },
              processResults: function(data){
                console.log(data)
                return {

                    results: data
                };
              },
              type: 'POST',

            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
          },
          placeholder: 'Ingrese el nombre del empleado',
            minimumInputLength: 3,
        });

        $ ("#form_ausentismo"). submit (function (e) {
            // preventing from page reload and default actions
            e.preventDefault ();
            // serialize the data for sending the form data.
            var serializedData = $ (this) .serialize ();
            // make POST ajax call
            $ .ajax ({
                type: 'POST',
                url: "{% url 'ajax_guardar_ausentismo' %}",
                data: serializedData,
                success: function (response) {
                    // on successfull creating object
                    // first\. clear the form.
                    $ ("#form_ausentismo"). trigger ('reset');

                    // display the newly friend to table.
                    var instance = JSON.parse (response ["instance"]);
                    console.log(instance)
                    var fields = instance [0] ["fields"];
                    var empleado =instance [1] ["fields"];

                    var formatter = new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        // These options are needed to round to whole numbers if that's what you want.
                        // minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                        // maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
                        });

                    var valor = formatter.format(fields["valor_ausentismo"])
                    $ ("#message_div"). prepend (

                        `<div class="alert alert-warning"><table id="table_ausentismo" class="m-3">
                        <tr>
                            <td colspan="2" class="font-weight-bold">Ausentismo registrado con exito</td>
                        </tr>
                        <tr>
                        <td>Id ausentismo: </td>
                        <td>${instance[0]['pk']}</td>
                        </tr>
                        <tr>
                        <td> Empleado: </td>
                        <td> ${empleado["nombre"] || ""} </td>
                        </tr>
                        <tr>
                        <td> Costo ausentismo: </td>
                        <td> ${valor || ""} </td>
                        </tr>
                        <tr>
                        <td> Horas de ausentismo: </td>
                        <td> ${fields["horas_ausentismo"] || ""} horas</td>
                        </tr>
                        </table></div>`
                    )
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert (response["responseJSON"] ["error"]);
                }
            })
        })
    </script>


{% endblock %}