{% extends "base.html" %}
{% load render_table from django_tables2 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h1 class="card-title">Ausentismos</h1>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="table-responsive">
                    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Filtrar' %}
    </form>

{% endif %}
{% render_table table 'django_tables2/bootstrap4.html' %}
                </div>
            </div>
        </div>
        {% load querystring from django_tables2 %}
        <div class="card-footer">
            <a href="{% url 'ausentismo_add_view' %}" class="btn btn-primary">Registrar Ausentismo</a>
            <a href="{% querystring '_export'='xlsx' %}" class="btn btn-secondary">Descargar Reporte</a>
        </div>
    </div>

{% endblock %}